<h1>Lista de Productos (Estática)</h1>
<ul>
    {{#if products.length}}
        {{#each products}}
            <li>
                <strong>{{this.title}}</strong> - ${{this.price}}
                <p>{{this.description}}</p>
            </li>
        {{/each}}
    {{else}}
        <p>No hay productos para mostrar.</p>
    {{/if}}
</ul>